h1 {
text-align: center;
padding: 20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color:#1e1e1e;
color:#ff9900;
border: solid, 2px;
}

div {
    padding: 50px;
}

body {
    background-color:#121212;
    padding: 15px;
}

p {
    color: white;
    padding: 10px;
    border: solid, 2px, #ff9900;
    position: fixed;
    text-align: center;
}

button {
    padding: 5px;
    background-color: #ff9900;
    color: white;
}

